body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: absolute;
    background-color: #0000007c;
    padding: 0;
}

.navName{
    display: flex;
    color: #CCCCCC;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    margin: 0px 10px;
    padding: 0px 10px;
    font-weight: 100;
}

li a:hover{
    color: white;
}

li{
   float: left;
   margin-left: 40px; 
}

ul{
    list-style-type: none;
    position: sticky;
    position: sticky;
    top: 0;
}

#logo{
    margin-top: -13px;
}

#search{
    height: auto;
    width: 20px;
    object-fit: cover;
    object-position: 0px 35px;
    margin-top: -48px;
}

#bag{
    height: auto;
    width: 18px;
    margin-top: -13px;
}

.container2{
background-image: url("https://www.apple.com/v/home/es/images/heroes/iphone-11-pro/hero__dvsxv8smkkgi_largetall.jpg");
    height: 735px;
    width: 100vw;
    background-color: #000000;
background-position: center;

}

.inner-text {
    margin-top: 100px;
}

/* .miniContainer{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    margin-left: 27px;
    position: relative;
} */

#title{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    font-size: 55px;
    font-weight: 500;
}

#title2{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    margin-top: -25px;
    font-weight: 200;
}

#title3{
    display: flex;
    justify-content: center;
    color: rgb(123, 123, 128);
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    margin-top: -10px;
    font-size: 19px;
    font-weight: 200
}

.miniContainer2{
    display: flex;
    justify-content: center;
    margin-top: -29px;
}

#title4{
    color: #2997ff;
    font-family: 'Nunito Sans', sans-serif;
    margin-right: 30px; 
    position: relative;
    font-weight: 200
}

#title5{
    color: #2997ff;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 30px;
    position: relative;
    font-weight: 200
}

#iPhone11{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
}

.container3{
    background-image: url("https://www.apple.com/v/home/es/images/heroes/iphone-11/hero__dvsxv8smkkgi_largetall.jpg");
    background-position: center;
    height: 690px;
    width: 100vw;
    margin-top: 15px
}

#title6{
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    font-size: 50px;
    margin-top: 55px;
    font-weight: 500

}

#title7{
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    margin-top: -25px;
    font-weight: 200
}

#title8{
    display: flex;
    justify-content: center;
    color: rgb(123, 123, 128);
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    margin-top: -10px;
    font-size: 19px;
    font-weight: 200

}

.miniContainer3{
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

#title9{
    color: #2997ff;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
    margin-right: 25px; 
    position: relative;
    font-weight: 200
}

#title10{
    color: #2997ff;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 25px;
    position: relative;
    font-weight: 200
}

.container4{
    background-image: url("https://www.apple.com/uk/home/images/heroes/watch-series-5/hero__dvsxv8smkkgi_largetall.jpg");
    background-position: center;
    height: 700px;
    width: 100vW;
    margin-top: 15px;
}

.watchTitle{
    background-image: url("https://www.apple.com/v/home/es/images/logos/watch-series-5/logo_hero__trsrpeu6koqy_large.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    width: 209px;
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#title11{
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    margin-top: 30px;
    font-weight: 200
}

#title12{
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    margin-top: -25px;
    font-weight: 200
}

.miniContainer4{
    display: flex;
    justify-content: center;
}

#title13{
    color: #2997ff;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
    margin-right: 25px; 
    position: relative;
    font-weight: 200;
    margin-top: -5px
}

#title14{
    color: #2997ff;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 25px;
    position: relative;
    font-weight: 200;
    margin-top: -5px
}

.container5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}

.section1{
    /* background-image: url("https://www.apple.com/uk/home/images/promos/apple-watch-studio/tile__cauwwcyyn9hy_large.jpg");
    background-repeat: no-repeat; */
    height: 624px;
    width: 945px;
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 5px;
    background-position: center;

}


.section2{
    background-image: url("https://www.apple.com/v/home/es/images/promos/tv-plus-la/tile__cauwwcyyn9hy_large.jpg");
    background-repeat: no-repeat;
    height: 624px;
    width: 945px;
    margin-top: -10px;
    margin-right: 10px;
    margin-left: 5px;
    background-position: center;

}

.section3{
    background-color: #F9F9F9;
    height: 624px;
    width: 945px;
    margin-top: -10px;
    margin-right: 5px;
    margin-left: 10px;
    background-position: center;

}

.airpods{
    width: 945px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  display: flex;
  

}

.section4{
    background-image: url("https://www.apple.com/v/home/es/images/promos/macbook-pro-16/tile__cauwwcyyn9hy_large.jpg");
    background-repeat: no-repeat;
    background-color: #F9F9F9;
    height: 624px;
    width: 945px;
    margin-top: -10px;
    margin-right: 10px;
    margin-left: 5px;
    background-position: center;

}

.section5{
    background-image: url("https://www.apple.com/v/home/es/images/promos/arcade-ultimate/tile__cauwwcyyn9hy_large.jpg");
    background-repeat: no-repeat;
    height: 624px;
    width: 945px;
    margin-top: -10px;
    margin-right: 5px;
    margin-left: 10px;
    background-position: center;

}

.section6{
    background-image: url("https://www.apple.com/uk/home/images/promos/ipad/tile__cauwwcyyn9hy_large.jpg");
    background-repeat: no-repeat;
    height: 624px;
    width: 945px;
    margin-top: -10px;
    margin-right: 10px;
    margin-left: 5px;
    background-position: center;
}

.title15{
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    margin-top: 60px;
    font-weight: 500
}

.title16{
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    font-size: 20px;
    font-weight: 200;
    margin-top: -10px
}

.title17{
    color: #2997ff;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: 200
}

.tv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.littleAmerica{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 350px;
}

.title20{
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 200
}

.title21{
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 200
}

.miniContainer5{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header{
    color: #2997ff;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
    margin-right: 25px; 
    position: relative;
    font-weight: 200
}

.header1{
    color: #2997ff;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 25px;
    position: relative;
    font-weight: 200
}

.arcade{
    background-image: url("https://www.apple.com/v/home/es/images/logos/arcade-ultimate/logo__dcojfwkzna2q_large.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    width: 209px;
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.title22{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    font-size: 20px;
    font-weight: 200;
    margin-top: -15px
}

.miniContainer7{
    display: flex;
    justify-content: center;
    flex-direction: wrap;
    margin-top: -20px;
}

.title23{
    color: white;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
    margin-right: 25px; 
    position: relative;
    font-weight: 200
}

.title24{
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 25px;
    position: relative;
    font-weight: 200
}


.container6{
    background-color: #F3F3F6;
    display: flex;
    justify-content: center;
    height: 900px;
    width: 100vw;
    margin-top: -13px;
}

.miniContainer6{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1000px;
    margin-top: -490px;
}

.text{
    color: #8A8A8E;
    font-size: 13px;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: -20px;
}

#line{
    background-color: #B5B5B9;
    height: 0.5px;
    width: 100%;
    margin-top: 10px;
}