body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1,h2,h3,p{
    margin: 0;
    line-height: 1.6;
}

.container{
    display: flex;
    flex-direction: column;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 14px;
}

.nav {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 44px;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    margin: 0;
    padding: 0;

    position: fixed;
    z-index: 1;
}

.navBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 44px;
}

.navName{
    color: #CCCCCC;
    padding: 0px 10px;
}

.navName:hover{
    color: #ffffff;
    cursor: pointer;
}

#search{
    height: auto;
    width: 18px;
    object-fit: cover;
    object-position: 0px 35px;
    margin-top: -25px;
}

#bag{
    height: auto;
    width: 18px;
}

.miniContainer{
    display: flex;
    justify-content: center;
    height: 44px;
    width: 100vw;
    margin-top: 44px;
}

.message{
    margin: 0;
    padding: 12px 0;
}

.miniContainer2{
    display: flex;
    justify-content: center;
    position: relative;
}

.subBox{
    top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100vw;
}

.subBox2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 210px;
    font-size: 1.2rem;
    font-weight: normal;
    color: #0066CC;
    margin-top: 4px;
}

.bigTitle{
    height: 70px;
    font-size: 3.3rem;
    font-weight: normal;
    margin: 0;
    color: #ffffff;
}

.bigSub{
    font-size: 1.8rem;
    font-weight: 200;
    color: #ffffff;
}

.bigTitle2{
    height: 70px;
    font-size: 3.3rem;
    font-weight: 500;
    margin: 0;
    color: #000;
}

.bigSub2{
    font-size: 1.7rem;
    font-weight: normal;
    color: #000;
}

.smallSub{
    color: #8D8D92;
    font-size: 1.1rem;
    font-weight: 400;
}

.link:hover, .link2:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.miniContainer3{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 12px;
}

.subBox3{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.subPic{
    width: 98.5%;
    height: 580px;
    object-fit: cover;
}

.smallTitle{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: normal;
    height: 55px;
}

.smallSub3{
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 5px;
}

.smallSub4{
    color: #79797E;
}

.subBox4{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 180px;
    font-size: 1.1rem;
    font-weight: normal;
    color: #2997FF;
    margin-top: 4px;
}

.smallTitle2{
    color: #000;
    font-size: 2.5rem;
    font-weight: normal;
    height: 55px;
}

.smallSub5{
    color: #000;
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 5px;
}

.link2{
    color: #2997FF;
    font-size: 1.1rem;
    font-weight: normal;
}

.new{
    color: #CC733E;
    font-size: .75rem
}

.test{
    top: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100vw;
}

.miniContainer4{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 850px;
    background-color: #F5F5F7;
    font-size: 12px;
    margin-top: 10px;
}

.textContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    /* background-color: orange; */
}

.textBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #86868B;
    padding: 17px 0 11px;
    width: 98%;
}

.link3:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.line{
    background-color: #86868B;
    width: 98%;
    height: 1px;
}

.footerLinks{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 20px 0 0;
}

.links{
    color: #515154;
    margin: 0 0 9.6px;
}

.links:hover{
    color: #252527;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.linkTitle{
    color: #1D1D1F;
    margin: 0 0 9.6px;
    font-weight: 500;
}

.footer{
    color: #86868B;
    padding: 34px 0 21px;
}

.footerText{
    padding: 0 0 8px;
}

.footerLegal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8px;
}

.legalLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
}

.t{
    width: 100%;
}